.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.navbar-nav {
    margin-right: 100px;
}

.navbar-nav li a {
    font-size: 25px;
    margin-right: 100px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}
.navbar-nav li a:hover {
    color: #fff;
    font-size: 29px;
    border-bottom: 3px solid #fff;
}